.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid var(--border-color);

  &__list {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-direction: column;

    @include medium {
      flex-direction: row;
    }
  }
  &__icon {
    background-color: var(--icon-bg-color);
    padding: 12px;
    border-radius: 50px;
    fill: var(--icon-color);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-size: 14px;
    @include medium {
      align-items: flex-start;
      margin-top: 0;
    }
  }
  &__heading {
    margin: 0;
    color: var(--text-color);
  }
  &__link {
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 18px;
  }
}
