.links {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 3px solid var(--border-color);
  &__title {
    color: var(--text-color);
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    @include medium {
      text-align: left;
    }
  }
  &__list {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 15px;
    @include medium {
      flex-direction: row;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    @include medium {
      align-items: flex-start;
      margin-top: 0;
    }
  }
  &__heading {
    margin: 0;
    color: var(--text-color);
  }
  &__link {
    text-align: center;
    color: var(--second-text-color);
    font-weight: 700;
    font-size: 18px;
  }
}
